/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*generics*/
body {
    margin-top: 150px;
}

header {
    background-color: #ff6900;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;

}

footer {
    background-color: #1a1a1a;
    border-bottom: 1px solid #ffffff;
}

footer a {
    font-size: 12px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

a,
i {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

img {
    max-width: 100%;
    display: block;
}

h4 {
    color: #ffffff;
    margin-bottom: 10px;
}

span {
    color: black;
    font-weight: normal;
    text-decoration: line-through;
}

/*utils*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.list-icons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.header-footer-flex {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg-color-red {
    background-color: red;
}

.bg-color-green {
    background-color: green;
}

/*header*/

.navbar>* {
    flex-basis: 20%;
    padding: 10px 0;
}

.menu a {
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

/*main*/
.shop-grid {
    flex-wrap: wrap;
    display: flex;
    margin: 0 -10px;
    margin-bottom: 20px;
}

.shop-grid .item {
    padding: 10px;
    flex-basis: calc(100% / 3);
    position: relative;
}

.shop-grid img {
    margin-bottom: 5px;
}

.brand,
.title,
.price {
    font-size: 14px;
}

.price {
    color: red;
    font-weight: bold;
}

.badge-container {
    position: absolute;
    left: 0;
    bottom: 100px;
    margin-left: 10px;
    display: flex;
    gap: 5px;
}

.badge {
    padding: 5px 10px;
    color: #ffffff;
}

.favourite-icon {
    background-color: #ffffff;
    color: #000000;
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 24px;
    padding: 20px;
}

.favourite-icon:hover {
    color: red;
}

.hover-image{
    display: none;
}

.shop-grid .item:hover .hover-image{
    display: block;
    
}

.shop-grid .item:hover .image{
    display:none;
    
}